.masonry-section-demo {
	margin: 0px 0px 50px 0px;
}
.trip-flight-hotel-section-demo,
.sale-flights-section-demo {
	margin-top: 30px;
	margin-bottom: 200px;
}
.masonry-section-demo .more-destination {
	background-image: url(../images/img/bg-button.jpg);
}
.travelling-block-section-demo {
	background-image: url(../images/img/17.jpg);
}
.category-heading-section-demo {
/*	background-image: url(https://images.unsplash.com/photo-1523492814-4dcefb9103ac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=694e5c60419a9d6443444249d5fe2456&auto=format&fit=crop&w=934&q=80);*/
/*        background-image: url(https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89cb308d4f29aa91900e63f318b03458&auto=format&fit=crop&w=1950&q=80);*/
        background-image: url(https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=2566&q=80);
        background-position: center 71%!important;
}
.login-page-demo {
	background-image: url(../images/bg/1.jpg);
}
.register-page-demo {
	background-image: url(../images/bg/2.jpg);
}
.page-heading-demo {
	background-image: url(../images/img/16.jpg);
}
.more-destination {
	background-image: url(../images/img/bg-button.jpg);
}
.widget_background__half .bg {
	background-image: url(../images/img/2.jpg);
}

.your-destinations-section-demo {
	margin-top: 50px;
	margin-bottom: 150px;
}
.checkout-section-demo {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #F7F7F7;
}